<!-- tittle of the application -->
<div
  style="
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
  "
>
  <h1>Too-Doo Application</h1>
</div>
<!-- Form for value input -->
<div style="justify-content: center">
  <form
    [formGroup]="taskform"
    style="
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: space-between;
      justify-content: center;
      align-items: center;
    "
    (ngSubmit)="Addtask()"
  >
    <input
      style="
        width: 40rem;
        height: 2rem;
        border-radius: 10px;
        border-width: 2px;
        padding: 5px;
        font-family: 'Times New Roman', Times, serif;
      "
      type="text"
      formControlName="taskname"
    />
    <!-- <button  onclick="">
     
    </button> -->
    <button
      mat-raised-button
      style="
        width: 5rem;
        height: 2rem;
        border-radius: 10px;
        background-color: rgb(86, 232, 215);
      "
    >
      <fa-icon [icon]="faPlus" />
    </button>
  </form>
</div>
<br />
<!-- <mat-form-field>
 <mat-select [(ngModel)]='selectedValue'>
    <mat-option value="all">All</mat-option>
    <mat-option value="completed">Completed</mat-option>
    <mat-option value="not">Not Completed</mat-option>
  </mat-select>
  </mat-form-field> -->

<!-- options to select from for filtering the data -->
<select
  id="multiselect"
  style="width: 15rem; height: 2rem"
  [(ngModel)]="selectedValue"
>
  <option value="all">All</option>
  <option value="completed">Completed</option>
  <option value="not">Not Completed</option>
</select>

<!-- calling and displaying the component -->
<div
  style="
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    gap: 10px;
  "
>
  <p *ngFor="let task of Tasks_array | completedFilter : selectedValue">
    <app-displaytask
      [showtask]="task"
      (changeAdd)="deleteTask($event)"
      (markcompleted)="checkCompleted($event)"
      (editName)="cachChange($event)"
    ></app-displaytask>
  </p>
</div>

<!-- <ng-template *ngFor="let task of Tasks_array">
    <h1>{{task.id}}</h1>
  </ng-template> -->
