<div
  style="
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
  "
>
  <h1>Too-Doo Application</h1>
</div>
<div style="justify-content: center">
  <form
    [formGroup]="taskform"
    style="
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: space-between;
      justify-content: center;
      align-items: center;
    "
    (ngSubmit)="Addtask()"
  >
    <input
      style="
        width: 40rem;
        height: 2rem;
        border-radius: 10px;
        border-width: 2px;
        padding: 5px;
        font-family: 'Times New Roman', Times, serif;
      "
      type="text"
      formControlName="taskname"
    />
    <button style="width: 5rem; height: 2rem; border-radius: 10px" onclick="">
      Add Task
    </button>
  </form>
</div>
<br />

<select id="multiselect" style="width: 15rem;height: 2rem;" [(ngModel)]='selectedValue'>
  <option value="all">All</option>
  <option value="completed">Completed</option>
    <option value="not" >Not Completed</option>
</select>
  <p *ngFor="let task of Tasks_array" >
  <app-displaytask
    [showtask]="task"
    (changeAdd)="deleteTask($event)"
    (markcompleted)="checkCompleted($event)"
  (editName)="cachChange($event)"
  ></app-displaytask>
</p>
<!-- <div *ngif="selectedValue==completed;then completed;else not"></div>
<ng-template #completed>
  <p *ngFor="let task of Tasks_array" >
  <app-displaytask
    [showtask]="task"
    (changeAdd)="deleteTask($event)"
    (markcompleted)="checkCompleted($event)"
  (editName)="cachChange($event)"
  ></app-displaytask>
</p>
</ng-template>
<ng-template #not></ng-template> -->


