<!-- tittle of the application -->
<div
class="header">
  <h1>Too-Doo Application</h1>
</div>
<!-- Form for value input -->
<div class="form">
  <form
    [formGroup]="taskform"
    class="form-container"
    (ngSubmit)="Addtask()"
  >
    <input
    class="input"
 
      type="text"
      formControlName="taskname"
    />
    <!-- <button  onclick="">
     
    </button> -->
    <button
      mat-raised-button
     class="add_btn"
    >
      <fa-icon [icon]="faPlus" />
    </button>
  </form>
</div>
<br />
<!-- <mat-form-field>
 <mat-select [(ngModel)]='selectedValue'>
    <mat-option value="all">All</mat-option>
    <mat-option value="completed">Completed</mat-option>
    <mat-option value="not">Not Completed</mat-option>
  </mat-select>
  </mat-form-field> -->

<!-- options to select from for filtering the data -->
<select
  id="multiselect"
class="list"
  [(ngModel)]="selectedValue"
>
  <option value="all">All</option>
  <option value="completed">Completed</option>
  <option value="not">Not Completed</option>
</select>

<!-- calling and displaying the component -->
<div
class="comp_conatiner"
>
  <p *ngFor="let task of Tasks_array | completedFilter : selectedValue">
    <app-displaytask
      [showtask]="task"
      (changeAdd)="deleteTask($event)"
      (markcompleted)="checkCompleted($event)"
      (editName)="cachChange($event)"
    ></app-displaytask>
  </p>
</div>

<!-- <ng-template *ngFor="let task of Tasks_array">
    <h1>{{task.id}}</h1>
  </ng-template> -->
