<div
class="card"

>
  <!-- card outline mterial card -->
  <mat-card
  class="card_continer"
    [ngStyle]="{
      'background-color':
        showtask.completed == true ? ' rgb(163, 206, 163)' : ' hsl(0, 68%, 65%)'
    }"
  >
    <!-- starting of content of material card -->
    <mat-card-content>
      <!-- header  -->
      <mat-card-header>
        <p
        class="card_header"
        
          *ngIf="!showtask.completed; else elsestrike"
        >
          {{ showtask.newtask | titlecase }}
        </p>
        <ng-template #elsestrike>
          <p style="text-decoration: line-through">
            {{ showtask.newtask | titlecase }}
          </p>
        </ng-template>
      </mat-card-header>

      <!-- actions that can be performed section -->
      <mat-card-actions>
        <!-- checkbox -->
        <mat-checkbox
          style="width: 30px; height: 30px; align-self: center"
          (change)="markComoplete(showtask.id)"
          [disabled]="showtask.completed"
          [checked]="showtask.completed"
        />
        <!-- edit button -->
        <button
          mat-raised-button
          class="ebtn"
          (click)="changeTaskname(showtask.id)"
        >
          Edit
        </button>

        <!-- delete button -->
        <button
          mat-raised-button
          class="del_btn"
         
          (click)="changeTask(showtask.id)"
          [ngStyle]="{
            'background-color': showtask.completed === true ? ' green' : 'red'
          }"
        >
          <fa-icon [icon]="trash" />
        </button>
      </mat-card-actions>

      <!-- content closing -->
    </mat-card-content>

    <!-- card closing -->
  </mat-card>
</div>
